<footer class="page-footer font-small footer">

  <div class="bg-purple">

    <div class="container pt-4">

      <div class="row">

        <div class="col-md-12 d-flex justify-content-center">

          <h4 class="text-white"> Follow me on social networks </h4>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12 d-flex justify-content-center">

          <ul class="social-network">

            <li>
              <a href="https://www.linkedin.com/in/matheus-silva25/" target="blank" class="icoLinkedin"> <i
                  class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </li>

            <li>
              <a href="https://www.instagram.com/_matthsz/" target="blank" class="icoInstagram"> <i
                  class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>

            <li>
              <a href="https://github.com/Matth998" target="blank" class="icoGithub"> <i class="fa fa-github"
                  aria-hidden="true"></i></a>
            </li>

          </ul>

        </div>

      </div>

      <div class="row d-flex justify-content-center">

        <div class="col-md-6">

          <div class="container footer-copyright">

            <img src="https://i.imgur.com/tv47Lx0.png" alt="Logo" width="100px" height="100px">
            <p class="text-white">&copy; Copyright Matheus Da Silva - 2022 </p>

          </div>

        </div>

      </div>

    </div>
  </div>
</footer>
