.footer {

  background: #380066;
  box-shadow: 0 8px 32px 0 rgb(90, 5, 175);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);

}

ul.social-network {

  list-style: none;
  padding: 0;

}

ul.social-network li {

  display: inline;
  margin: 0;
  padding: 5px;

}

.fa {

  font-size: 35pt;
  color: white;
  padding: 10px;

}

.fa-linkedin-square:hover {

  color: #0e76a8;

}

.fa-instagram:hover {

  color: #E1306C;

}

.fa-github:hover {

  color: #888888;

}

.footer-copyright {

  font-family: 'Eczar', serif;
  font-size: 16pt;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;

}

.bg-purple {

  background: rgba(88, 14, 191, 0.15);
  box-shadow: 0 8px 32px 0 rgba(90, 5, 175, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 150%;

}
