<div class="card l-bg-cherry mt-5">
  <div class="card-statistic-3 p-4">
    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
    <div class="mb-4">
      <h5 class="card-title mb-0">Filter</h5>
    </div>
    <div class="row align-items-center mb-2 d-flex">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="by"> By </label>
            <input type="number" id="by" class="form-control">
          </div>
          <div class="form-group">
            <label for="for"> For </label>
            <input type="number" id="for" class="form-control">
          </div>

          <button class="btn btn-primary mt-2"> filter</button>
        </form>

      </div>
    </div>
  </div>
