<div class="container-fluid bg-products">

  <h1 class="mt-3 text-center text-white"> You might be interested </h1>

  <div class="container mt-100 teste">
    <div class="row">
      <div class="col-md-3" *ngFor="let products of listProduct">
        <div class="product-wrapper mb-45 text-center">
          <div class="product-img"> <a href="#" data-abc="true"> <img src="{{products.img}}" alt="" width="300px"> </a>
            <span class="text-center product-old-price">{{products.price | currency:'USD'}}</span>
            <span class="text-center promotion">{{products.promotion | currency:'USD'}}</span>
            <div class="product-action">
              <div class="product-action-style"> <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                    class="fa fa-heart"></i> </a> <a routerLink="/cart"> <i class="fa fa-shopping-cart"></i> </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
