<div class="container-fluid bg-home">

  <div class="container">

    <div class="row mt-5 mb-5 d-flex align-items-center">

      <div class="col-md-6 d-flex justify-content-center">

        <img src="https://i.imgur.com/MRJsW8W.png" alt="" width="350" height="350">

      </div>

      <div class="col-md-6 text-center">

        <h1 class="text-white">WELCOME TO MSTORE</h1>

        <p class="text-white">Want to give up a product? Want to publicize your brand? Come sell at MStore!
        </p>

        <div class="row">
          <div class="col-sm-12 ml-5 mt-4">
            <a class="btn" routerLink="/products">See our products</a>
            <a class="btn ml-3">Promote your products</a>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
