<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <a class="navbar-brand ml-5" routerLink="/home"><img src="https://i.imgur.com/MRJsW8W.png" alt="Logo MStore" width="100"
      height="100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white">Support</a>
      </li>
      <li class="nav-item ml-5">
        <a class="btn btn-outline-light mr-3" routerLink="/login">Sign in</a>
        <a class="btn btn-outline-light" routerLink="/register">Sign up</a>
      </li>
    </ul>

  </div>
</nav>
