<div class="form-bg">
  <div class="container-fluid mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
        <div class="form-container">
          <div class="form-icon">
            <i class="fa fa-user-circle"></i>
            <span class="signup"><a routerLink="/login">Already have an account? SignIn</a></span>
          </div>
          <form class="form-horizontal">
            <h3 class="title">Member Register</h3>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-user"></i></span>
              <input [(ngModel)]="userModel.name" class="form-control" name="name" type="name" placeholder="Name">
            </div>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-envelope"></i></span>
              <input [(ngModel)]="userModel.email" class="form-control" name="email" type="email" placeholder="Email Address">
            </div>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-camera"></i></span>
              <input [(ngModel)]="userModel.photo" class="form-control" name="photo" type="photo" placeholder="Link Photo">
            </div>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-lock"></i></span>
              <input (input)="ConfirmPassword($event)" class="form-control" type="password" placeholder="Password">
            </div>
            <div class="form-group">
              <span class="input-icon"><i class="fa fa-lock"></i></span>
              <input [(ngModel)]="userModel.password" class="form-control" name="password" type="password" placeholder="Confirm Password">
            </div>
            <button class="btn signin" (click)="Register()">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
